.quiz-container {
    padding: 5px;
    .title {
        font-size: 20px;
        font-weight: 600;
    }

    legend {
        font-size: 13px;
    }

    .list-detail {
        padding: 5px;
    }
}